@black: #000000;
@dark-grey: #222222;
@white: #FFFFFF;
@green: #12A01B;
@red: #CC1C17;
@card-height: 128px;

html, body {
  background: @black;
  height: 100%;
  overflow-y: hidden;
  margin: 0;
  padding: 0;
}

.mdl-layout__header {
  background: @dark-grey;
  color: @white;
}

.mdl-navigation__active {
  background: @black;
  color: @white;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__active.mdl-navigation__link:hover {
  background: @dark-grey;
}

.mdl-card {
  width: 100%;
  height: @card-height;
  min-height: @card-height;
  line-height: @card-height;
  text-align: center;
  font-size: 5em;
  background: @green;
  color: @black;
  border-radius: 5px;
  cursor: pointer;
}

.mdl-card__fullscreen {
  position: absolute;
  top: 16px;
  right: 16px;
  bottom: 16px;
  left: 16px;
  height: auto;
  width: auto;
  line-height: normal;
  font-size: 50vh;
}

.mdl-card__misccolor {
  background: @red;
}

.mdl-cell--4-col,
.mdl-cell--4-col-phone.mdl-cell--4-col-phone,
.mdl-cell--4-col-tablet.mdl-cell--4-col-tablet {
  width: calc(~'33% - 16px');
  height: @card-height;
}
